In [12]:
import pandas as pd

dados = pd.read_csv('C://fontes_dados//ml//tudo.csv')
dados = dados.query('ano == 2020')
dados = dados.query('carteira_ativa <= 100000')
#dados = dados.query('uf == "AC"')
#dados = dados.query('cliente == 1')
dados

,Unnamed: 0,data_base,uf,cliente,ocupacao,modalidade,numero_de_operacoes,carteira_ativa,ano
9718391,0,2020-01-31,AC,1,1,5,15,35131,2020
9718393,2,2020-01-31,AC,1,1,3,15,46710,2020
9718394,3,2020-01-31,AC,1,1,3,15,96370,2020
9718395,4,2020-01-31,AC,1,1,1,15,1131,2020
9718397,6,2020-01-31,AC,1,1,1,15,124,2020
...,...,...,...,...,...,...,...,...,...
11813705,2095314,2020-01-31,TO,2,9,11,15,28504,2020
11813706,2095315,2020-01-31,TO,2,9,10,15,20456,2020
11813707,2095316,2020-01-31,TO,2,9,9,15,61873,2020
11813708,2095317,2020-01-31,TO,2,9,10,15,29382,2020
11813709,2095318,2020-01-31,TO,2,9,7,15,13415,2020

In [13]:
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [14]:
dados.dropna(inplace = True)
dados.isnull().sum()

del dados['Unnamed: 0']
del dados['data_base']
del dados['uf']
del dados['ocupacao']
del dados['numero_de_operacoes']
del dados['ano']
dados

          cliente  modalidade  carteira_ativa
9718391         1           5           35131
9718393         1           3           46710
9718394         1           3           96370
9718395         1           1            1131
9718397         1           1             124
...           ...         ...             ...
11813705        2          11           28504
11813706        2          10           20456
11813707        2           9           61873
11813708        2          10           29382
11813709        2           7           13415

[1233141 rows x 3 columns]

In [11]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1233141 entries, 9718391 to 11813709
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   cliente         1233141 non-null  int64
 1   modalidade      1233141 non-null  int64
 2   carteira_ativa  1233141 non-null  int64
dtypes: int64(3)
memory usage: 37.6 MB

In [15]:
y = dados['carteira_ativa']
x = dados.drop('carteira_ativa', axis = 1)

In [16]:
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.2)

In [17]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

resultado = modelo.score(x_teste, y_teste)
print('Acuracia: ', resultado)

MemoryError: Unable to allocate 181. GiB for an array with shape (246629, 98746) and data type float64

In [20]:
x_treino.shape

(986512, 2)

In [19]:
x_teste.shape

(246629, 2)

In [ ]:
previsoes = modelo.predict(x_teste[400:403])